//- extends  navbar

html
   head
      include ./navbar.pug
      link(rel='stylesheet' href='/stylesheets/home.css')
   body
      
        img(src='/images/defender.jpg' , alt='some image') 
  
        
