html
   head
      include ./navbar.pug
      link(rel='stylesheet' href='/stylesheets/services.css')
   body
div
h2 Services que nous offrons

p Nos services comprennent :

ul.services
    li(style={color: 'white', background: '#079992'}) Headshots
    li(style={color: 'white', background: '#079992'}) Corporate 
    li(style={color: 'white', background: '#079992'}) Event 
    li(style={color: 'white', background: '#079992'}) Photography 